/* For stylings used only on the AI's screen */

/* General button styles, as provided */
.button {
  width: 100px;
  height: 100px;
  background-color: #a9a9a9;
  color: #696969;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  position: relative; /* To help position child elements like icons */
  overflow: hidden; /* Keeps child elements from spilling out */
}

/* Styling for the button icon */
.button-icon {
  width: 60px;
  height: 60px;
  vertical-align: middle;
  margin-right: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s; /* Smoother transition for hover effect */
}

/* Hover effect for button with icons */
.button:hover .button-icon {
  transform: translate(-50%, -50%) scale(1.1); /* Slightly enlarge the icon */
}

.button i {
  font-size: 60px;
  color: #d91f1f;
}

.button:hover {
  background-color: #808080;
}

.button i:hover {
  color: #bcbbbb;
}

.button.selected i {
  font-size: 60px;
  color: white;
}

.button.selected {
  background-color: #4caf50;
  color: white;
}

.button.selected:hover {
  background-color: #4caf50;
}

/* Optional: you can make the text disappear when the button is hovered, to give emphasis to the icon */
.button:hover span {
  opacity: 0;
  transition: 0.3s; /* For smoother transition */
}
