#memory-game-container {
    text-align: center;
}

#memory-minigame .canvas {
    display: inline-block;
    background: lightgray;
    width: 120px;
    height: 120px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#memory-minigame .canvas:hover {
    border: 2px solid black;
}