.minigame {
    position: absolute;
    z-index: 2;
    display: none;

    /* Btw this is how to center absolute positioned elements */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}