#game-board {
    border: 1px solid black;
    border-collapse: collapse;
}
#game-board td {
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
}
#body {
    display: flex;
    flex-direction: row;
}
#vertical-divider {
    width: 1rem;
    height: 10rem;
    background-color: white;
}
#console {
    width: 10rem;
    height: 20rem;
    background-color: rgb(82, 82, 82);
    color: lightgreen;
}

#tools {
    display: flex;
    flex-direction: column;
    height: 20rem;
}

td.hidden {
    background-color: black;
}

td.selected {
    background-color: white;
    background-image: url("./temp-room.png");
    background-size: contain;
}

#main-container {
    display: flex;
}


