.button {
  width: 100px;
  height: 100px;
  background-color: #a9a9a9;
  color: #696969;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
.button-icon {
  width: 80px;
  height: 80px;
  vertical-align: middle;
}


.button i {
  font-size: 60px;
  color: #696969;
}
.button:hover {
  background-color: #808080;
}

.button i:hover {
  color: #bcbbbb;
}

.button.selected i {
  font-size: 60px;
  color: white;
}

.button.selected {
  background-color: #4caf50;
  color: white;
}

.button.selected:hover {
  background-color: #4caf50;
}
.buttons-with-text {
  font-weight: 700;
  color: black;
}