.home {
	height: 100%;
	width: 100%;
}

.header-cont {
	width: 96%;
	margin: auto;
}

.header-elem {
	margin: auto;
	display: inline-block;
}

.title {
	width: 50%;
}

.header-info {
	float: right;
}

.name, .header-btn {
	margin: 5px;
}

.lobby-header {
	width: 30%;
	text-align: center;
	margin: 20px auto;
}

.container {
	height: 600px;
	width: 80%;
	margin: auto;
}

.page-cont {
	height: 100%;
	margin: 10px;
	display: inline-block;
	vertical-align: top;
}

.chat {
	border: 2px solid black;
	width: 20%;
}

.lobby-list {
	border: 2px solid black;
	width: 50%;
}

.lobby-btn-cont {
	width: 20%;
}

.lobby-btns {
	height: 15%;
	width: 90%;
	margin: auto;
	vertical-align: middle;
}

.lobby-optn {
	width: 200px;
	display: grid;
	padding: 8px;
	margin: 5px auto;
}

table {
	width: 100%;
	border-collapse: collapse;
}

tr {
	border-bottom: 1px solid darkgray;
}

th, td {
	padding: 5px;
	text-align: center;
}

.host-th {
	width: 60%;
}

div.lobby-optn {
	font-weight: bold;
	font-size: 18px;
}